@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #FBFDFC;
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
.container {
  padding: 0 100px;
}
.header {
  height: 100px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 72px 24px hsla(0, 0%, 31%, 0.25);
  color: hsla(0, 0%, 48%, 1);
  text-transform: capitalize;
  position: sticky;
  font-size: 18px;
  background-color: inherit;
}
.links {
  display: flex;
}
.headerLink {
  text-decoration: none;
  color: hsla(0, 0%, 48%, 1);
  padding: 0 15px;
  font-size: 14px;
}
.back {
  display: block;
  text-decoration: none;
  color: hsla(0, 0%, 48%, 1);
  font-size: 22px;
  font-weight: 700;
  margin: 50px 0px 0px 100px;
}
.landingPageImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  margin: 0 auto;
  margin-top: 200px;
  background-color: inherit;
}
.linkBtn {
  position: absolute;
  bottom: 50px;
  right: 50px;
  height: 50px;
  width: 160px;
  background-color: #fff;
  border: none;
  font-weight: 700;
  box-shadow: 0px 4px 72px 24px hsla(0, 0%, 0%, 0.09);
  font-family: inherit;
}
.addContactTitle {
  margin-bottom: 20px;
}
.addContactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 560px;
  width: 100%;
  padding: 0 10px;
}
.inputSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  width: 100%;
}
.inputField {
  height: 50px;
  width: 100%;
  height: 60px;
  border: 1px solid hsla(0, 0%, 51%, 1);
  padding: 15px;
}
.miniInput {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  width: 100%;
}
.miniInputField {
  width: 100%;
}
.addressInput {
  height: 100px;
}
label {
  margin-bottom: 10px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  color: hsla(0, 0%, 51%, 1);
}
.tableHeader {
  font-size: 32px;
  padding: 40px;
}
.contactLists {
  display: grid;
  /* grid-template-columns: 150px 1.3fr 100px 1fr 2fr; */
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: inherit;
  border-top: 1px solid hsla(0, 0%, 74%, 1);
  border-bottom: 1px solid hsla(0, 0%, 74%, 1);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: -1px;
}
.contactLists:first-of-type{
  margin-top: 100px;
}
.contactListTitle {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #828282;
}
.contactListObj {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: 10px;
  width: auto;
  word-wrap: break-word;
}
.submit {
  height: 50px;
  width: 160px;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  color: hsla(0, 0%, 31%, 1);
  background-color: #fff;
  border: none;
  box-shadow: 0px 4px 72px 24px hsla(0, 0%, 0%, 0.09);
}
.mapView {
  height: max-content;
  width: max-content;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  box-shadow: 0px 4px 72px 24px hsla(0, 0%, 0%, 0.25);
}
@media only screen and (max-width: 900px) {
  .container {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 640px) {
  
}
@media only screen and (max-width: 540px) {
  .linkBtn {
    right: 30px;
  }
  .contactLists {
    padding: 15px 10px;
  }
}
